<h1>Your Tasks</h1>

<% @tasks.each do |task| %>
    <h3><input type="checkbox" <%= task[:completed] ? "checked" : ""  %>><%= link_to task.title, task_path(task)  %></h3>
<% end  %>

<br>
<%= link_to "Create a new Task", tasks_new_path %>